.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
   border: 16px solid #f3f3f3;
  border-top-color: blue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg);}
}

