.App {
  text-align: center;
}

.gameContainer {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circleContainer {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  position: relative;
}

.actionConatiner {
  display: flex;
  justify-content: center;
  flex-direction: row;
}